<div id="labor-calendar-container">
    <ng-container *ngIf="displayCalendarView; then calendarView else dateView"></ng-container>
</div>

<ng-template #calendarView>
    <mat-grid-list [cols]="7">
        <ng-container *ngFor="let weekday of daysOfWeek">
            <mat-grid-tile class="calendar-tile weekday-header-tile">{{weekday}}</mat-grid-tile>
        </ng-container>
    </mat-grid-list>
    <mat-divider></mat-divider>
    <mat-grid-list id="labor-calendar" [cols]="7" rowHeight="1:1">
        <ng-container *ngFor="let date of dates">
            <mat-grid-tile class="calendar-tile" [ngClass]="{'not-in-month': notInCurrentMonth(date), 'current-date': isCurrentDate(date)}" (click)="viewTimesheetDateView(date)">
                <div class="tile-content">
                    <div class="tile-date">
                        <span class="calendar-date-text">{{date.date}}</span>
                    </div>
                </div>
            </mat-grid-tile>
        </ng-container>
    </mat-grid-list>
</ng-template>

<ng-template #dateView>
    <router-outlet></router-outlet>
</ng-template>