<mat-slide-toggle [checked]="displayWeekends" (change)="onDisplayWeekendChange($event)">Display weekends</mat-slide-toggle>
<br>
<br>
<mat-grid-list [cols]="givenColumns">
    <ng-container *ngFor="let weekday of daysOfWeek">
        <mat-grid-tile [style.background]="'white'" *ngIf="displayWeekendTiles(weekday)">{{weekday}}</mat-grid-tile>
    </ng-container>
</mat-grid-list>
<!-- <mat-grid-list [cols]="givenColumns" rowHeight="1:1">
    <ng-container *ngFor="let date of dates">
        <mat-grid-tile *ngIf="displayWeekends || !date.isWeekend">
            {{date.date}}
        </mat-grid-tile>
    </ng-container>
</mat-grid-list> -->

<mat-grid-list [cols]="givenColumns" rowHeight="1:1">
    <ng-container *ngFor="let date of dates">
        <mat-grid-tile *ngIf="displayWeekends || !date.isWeekend">
            {{date.date}}
        </mat-grid-tile>
    </ng-container>
</mat-grid-list>