<div id="time-slot-container">
    <div id="time-slot-action-bar">
        <button mat-icon-button (click)="addTimesheetEntry()">
            <mat-icon>add</mat-icon>
        </button>
        <div class="flex-space-filler time-range-container">
            <span>
                {{timeSlotHolder.timeRange}}
            </span>
        </div>
        <button mat-icon-button (click)="save()" [disabled]="!canSave()">
            <mat-icon>save</mat-icon>
        </button>
    </div>

    <div id="time-slot-content">
        <ng-container *ngIf="timeSlotHolder.entries.length > 0; then timesheetEntryView else noEntries"></ng-container>
    </div>
</div>

<ng-template #timesheetEntryView>
    <!-- display specific template if there aren't any entries yet -->
    <mat-card *ngFor="let entry of timeSlotHolder.entries; let index = index;" class="timesheet-entry">
        <mat-card-actions style="margin-bottom: 0px;">
            <button mat-icon-button (click)="removeEntry(index)">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-card-actions>
        <mat-form-field style="margin-left: 0px;">
            <mat-select placeholder="Select a Project">
                <mat-option *ngFor="let project of availableProjects" [value]="project.name"
                    (click)="onProjectSelected(project, index)">
                    {{project.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Select a Task" [disabled]="!entry.project.name">
                <mat-option *ngFor="let task of entry.project.tasks" 
                    [value]="task.name"
                    (click)="onTaskSelected(task, index)">
                    {{task.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Input your time" type="number" 
                min="0"
                required
                [errorStateMatcher]="errorStateMatcher"
                [(ngModel)]="entry.billingTime" 
                [disabled]="!entry.task.name">
            <mat-error>{{getErrorMessage(index)}}</mat-error>
        </mat-form-field>
        <!-- maybe give option to hide comment -->
        <mat-form-field>
            <textarea matInput [(ngModel)]="entry.comment" placeholder="Optional Comments" maxlength="256"></textarea>
            <mat-hint align="end">{{entry.comment.length}} / 256</mat-hint>
        </mat-form-field>
    </mat-card>
</ng-template>

<ng-template #noEntries>
    <div class="mat-title" style="margin: auto;">No entries</div>
</ng-template>