#time-slot-container {
    display: flex;
    flex-direction: column;
}

#time-slot-action-bar {
    display: flex;
    flex-direction: row;
}

#time-slot-content {
    display: flex;
    flex-direction: column;
    /* TODO: make sure this height is dynamic later */
    min-height: 400px;
    max-height: 400px;
    border: 1px solid black;
    overflow: auto;
    background: gainsboro;
}

.timesheet-entry {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 5px;
}

.time-range-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

