#timesheet-container {
    display: flex;
    flex-direction: column;
}

.not-in-month {
    background: darkgray;
    opacity: .5;
}

mat-slide-toggle {
    margin-bottom: 15px;
}

.mat-display-2 {
    margin-bottom: 20px;
}