<div id="dashboard-container">
    <div id="dashboard-header">
        <span class="mat-headline">Dashboard</span>
    </div>
    <div id="dashboard-body">
        <div id="active-timesheets-container">
            <span class="mat-title">Active Timesheets</span>
            <div id="timesheet-list">
                <ng-container *ngFor="let timesheet of timesheets; let index = index;">
                    <div class="timesheet-overview-panel" *ngIf="timesheet.state === timesheetStates.Active">
                        <mat-icon>date_range</mat-icon>
                        <span style="margin-left: 5px;">
                            {{timesheet.dateRange[0].getShortenedDate()}} - {{timesheet.dateRange[1].getShortenedDate()}}
                        </span>
                        <span class="flex-space-filler"></span>
                        <span class="total-time-indicator">
                            <mat-icon>timer</mat-icon>
                            <!-- this will be dynamic -->
                            <span style="margin-left: 3px;">35 hours</span>
                        </span>
                        <span class="flex-space-filler"></span>
                        <div class="timesheet-panel-actions">
                            <button mat-icon-button (click)="editTimesheet(timesheet)">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>