/* You can add global styles to this file, and also import other style files */
// Import theming functions
@import '~@angular/material/theming';

@import './mm-theme.scss';
/* temp location/color; move somewhere else eventually */
// .mat-grid-tile {
//     border: 1px solid #ddd;
// }

body {
    font-family: $mat-font-family;
    font-weight: normal;
    height: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.flex-space-filler {
    flex: 1 auto;
}

app-root {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.fill-to-expand-page {
    display: flex;
    flex-direction: column;
    flex: 1;
}